---
import ContactBar from "./ContactBar.astro";
import { contactLinks, siteMeta } from "../data/site.js";
---

<footer class="footer">
  <div class="footer__inner brand-cluster">
    <!-- <a class="brand">{siteMeta.name}</a> -->
    <ContactBar items={contactLinks} compact={true} />
  </div>
</footer>
